<div class="date_selector" data-spy="affix" data-offset-top="100">
  <h2 id="month" class="collapse in">
    <a href="#" {{action "prevMonth"}}>&LT;</a>
      {{displayDate}}
    <a href="#" {{action "nextMonth"}}>&GT;</a>
  </h2>
</div>
